.Building {
    position: absolute;
    background-color: saddlebrown;
    overflow: hidden;
}

.name-label {
    position: absolute;
    margin: 10px 15px;
    font-weight: bold;
}

.door-sensor {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.door {
    width: 3px;
    height: 100%;
    background: sandybrown;
    position: absolute;
    transition: 0.3s all ease-in;

    &.east {
        width: 5px;
        height: 50px;

        &.open {
            transform: rotate(-90deg);
            transform-origin: bottom;
        }
    }

    &.west {
        width: 5px;
        height: 50px;

        &.open {
            transform: rotate(90deg);
            transform-origin: bottom;
        }
    }

    &.north {
        height: 5px;
        width: 50px;

        &.open {
            transform: rotate(90deg);
            transform-origin: left;
        }
    }

    &.south {
        height: 5px;
        width: 50px;

        &.open {
            transform: rotate(90deg);
            transform-origin: right;
        }
    }
}