.NPC {
    width: 10px;
    height: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /*transition: all 0.1s linear;*/
    z-index: 3;
}

.NPC .name-label {
    color: black;
    font-size: 12px;
    margin-top: -35px;
}